## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [4]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[["Attrition", "Department"]]

In [5]:
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [6]:
# Create a list of at least 10 column names to use as X data
X_columns = [
    'Age',
    'PerformanceRating',
    'DistanceFromHome',
    'Education',
    'EnvironmentSatisfaction',
    'HourlyRate',
    'JobInvolvement',
    'JobLevel',
    'NumCompaniesWorked',
    'OverTime'
]


# Create X_df using your selected columns
X_df = attrition_df[X_columns].copy()

# Show the data types for X_df
X_df.dtypes

Age                         int64
PerformanceRating           int64
DistanceFromHome            int64
Education                   int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
NumCompaniesWorked          int64
OverTime                   object
dtype: object

In [13]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [14]:
print(X_df.columns)

Index(['Age', 'PerformanceRating', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'NumCompaniesWorked', 'OverTime'],
      dtype='object')

In [15]:
X_df['OverTime'].value_counts()

OverTime
0    1054
1     416
Name: count, dtype: int64

In [16]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()

X_df['OverTime'] = label_encoder.fit_transform(X_df['OverTime'])

print(X_df.dtypes)
X_df.head()

Age                        int64
PerformanceRating          int64
DistanceFromHome           int64
Education                  int64
EnvironmentSatisfaction    int64
HourlyRate                 int64
JobInvolvement             int64
JobLevel                   int64
NumCompaniesWorked         int64
OverTime                   int64
dtype: object

,Age,PerformanceRating,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,NumCompaniesWorked,OverTime
0,41,3,1,2,2,94,3,2,8,1
1,49,4,8,1,3,61,2,2,1,0
2,37,3,2,2,4,92,2,1,6,1
3,33,3,3,4,4,56,3,1,1,1
4,27,3,2,1,1,40,3,1,9,0

In [17]:
# Create a StandardScaler
scaler = StandardScaler()
# Fit the StandardScaler to the training data and testing Data
X_scaler = scaler.fit(X_train)
# Scale the training and testing data

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder

ohc = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_df_encoded = ohc.fit_transform(y_df[["Department"]])


# Create two new variables by applying the encoder
# to the training and testing data


y_test_encoded_dept = ohc.transform(y_test[['Department']])
y_df_encoded

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [19]:
# Create a OneHotEncoder for the Attrition column
ohc = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_df_encoded_att = ohc.fit_transform(y_df[["Attrition"]])

# Create two new variables by applying the encoder
# to the training and testing data
y_test_encoded_att = ohc.transform(y_test[['Attrition']])
y_df_encoded_att

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

## Create, Compile, and Train the Model

In [20]:
# Find the number of columns in the X training data
num_columns_X_train = X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(num_columns_X_train,), name='input_features')


# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [21]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer
department_hidden_layer = layers.Dense(64, activation='relu')(shared_layer2)
department_output = layers.Dense(3, activation='softmax', name='department_output')(department_hidden_layer)

In [22]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

attrition_hidden_layer = layers.Dense(32, activation='relu')(shared_layer2)

attrition_output = layers.Dense(2, activation='softmax', name='attrition_output')(attrition_hidden_layer)

In [23]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])


# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})


# Summarize the model
             
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_features (InputLayer)    [(None, 10)]         0           []

 dense (Dense)                  (None, 64)           704         ['input_features[0][0]']

 dense_1 (Dense)                (None, 32)           2080        ['dense[0][0]']

 dense_2 (Dense)                (None, 64)           2112        ['dense_1[0][0]']

 dense_3 (Dense)                (None, 32)           1056        ['dense_1[0][0]']

 department_output (Dense)      (None, 3)            195         ['dense_2[0][0]']

 attrition_output (Dense)       (None, 2)            66          ['dense_3[0][0]']

==================================================================================================
Total params: 6,213
Trainable params: 6,213
Non-trainable params: 0
__________________________________________________________________________________________________

In [24]:
# Train the model
history = model.fit(X_df, {'department_output': y_df_encoded, 'attrition_output': y_df_encoded_att}, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10

2024-07-01 14:10:10.987297: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

37/37 [==============================] - 0s 5ms/step - loss: 2.9047 - department_output_loss: 1.4370 - attrition_output_loss: 1.4677 - department_output_accuracy: 0.5493 - attrition_output_accuracy: 0.8350 - val_loss: 1.6510 - val_department_output_loss: 1.1675 - val_attrition_output_loss: 0.4835 - val_department_output_accuracy: 0.5510 - val_attrition_output_accuracy: 0.8537
Epoch 2/10
37/37 [==============================] - 0s 886us/step - loss: 1.2896 - department_output_loss: 0.8300 - attrition_output_loss: 0.4596 - department_output_accuracy: 0.6480 - attrition_output_accuracy: 0.8350 - val_loss: 1.3281 - val_department_output_loss: 0.9067 - val_attrition_output_loss: 0.4214 - val_department_output_accuracy: 0.5646 - val_attrition_output_accuracy: 0.8537
Epoch 3/10
37/37 [==============================] - 0s 993us/step - loss: 1.2189 - department_output_loss: 0.7780 - attrition_output_loss: 0.4410 - department_output_accuracy: 0.6522 - attrition_output_accuracy: 0.8350 - val_loss: 1.3734 - val_department_output_loss: 0.9628 - val_attrition_output_loss: 0.4106 - val_department_output_accuracy: 0.6020 - val_attrition_output_accuracy: 0.8537
Epoch 4/10
37/37 [==============================] - 0s 951us/step - loss: 1.2085 - department_output_loss: 0.7730 - attrition_output_loss: 0.4355 - department_output_accuracy: 0.6471 - attrition_output_accuracy: 0.8350 - val_loss: 1.3195 - val_department_output_loss: 0.9113 - val_attrition_output_loss: 0.4082 - val_department_output_accuracy: 0.5714 - val_attrition_output_accuracy: 0.8537
Epoch 5/10
37/37 [==============================] - 0s 988us/step - loss: 1.1973 - department_output_loss: 0.7645 - attrition_output_loss: 0.4328 - department_output_accuracy: 0.6650 - attrition_output_accuracy: 0.8350 - val_loss: 1.3270 - val_department_output_loss: 0.9182 - val_attrition_output_loss: 0.4088 - val_department_output_accuracy: 0.6020 - val_attrition_output_accuracy: 0.8537
Epoch 6/10
37/37 [==============================] - 0s 965us/step - loss: 1.2042 - department_output_loss: 0.7730 - attrition_output_loss: 0.4312 - department_output_accuracy: 0.6556 - attrition_output_accuracy: 0.8350 - val_loss: 1.3549 - val_department_output_loss: 0.9516 - val_attrition_output_loss: 0.4033 - val_department_output_accuracy: 0.6020 - val_attrition_output_accuracy: 0.8537
Epoch 7/10
37/37 [==============================] - 0s 980us/step - loss: 1.2074 - department_output_loss: 0.7741 - attrition_output_loss: 0.4333 - department_output_accuracy: 0.6514 - attrition_output_accuracy: 0.8350 - val_loss: 1.3167 - val_department_output_loss: 0.9149 - val_attrition_output_loss: 0.4018 - val_department_output_accuracy: 0.5884 - val_attrition_output_accuracy: 0.8537
Epoch 8/10
37/37 [==============================] - 0s 971us/step - loss: 1.1825 - department_output_loss: 0.7556 - attrition_output_loss: 0.4269 - department_output_accuracy: 0.6607 - attrition_output_accuracy: 0.8350 - val_loss: 1.3257 - val_department_output_loss: 0.9234 - val_attrition_output_loss: 0.4023 - val_department_output_accuracy: 0.6020 - val_attrition_output_accuracy: 0.8537
Epoch 9/10
37/37 [==============================] - 0s 1ms/step - loss: 1.1863 - department_output_loss: 0.7591 - attrition_output_loss: 0.4271 - department_output_accuracy: 0.6616 - attrition_output_accuracy: 0.8350 - val_loss: 1.2843 - val_department_output_loss: 0.8800 - val_attrition_output_loss: 0.4043 - val_department_output_accuracy: 0.5884 - val_attrition_output_accuracy: 0.8537
Epoch 10/10
37/37 [==============================] - 0s 921us/step - loss: 1.1835 - department_output_loss: 0.7557 - attrition_output_loss: 0.4278 - department_output_accuracy: 0.6633 - attrition_output_accuracy: 0.8350 - val_loss: 1.2873 - val_department_output_loss: 0.8898 - val_attrition_output_loss: 0.3975 - val_department_output_accuracy: 0.6020 - val_attrition_output_accuracy: 0.8537

In [34]:
# Evaluate the model with the testing data

results = model.evaluate(X_test_scaled, 
                                            {'department_output': y_test_encoded_dept, 
                                             'attrition_output': y_test_encoded_att})

12/12 [==============================] - 0s 792us/step - loss: 1.7670 - department_output_loss: 1.0966 - attrition_output_loss: 0.6705 - department_output_accuracy: 0.3750 - attrition_output_accuracy: 0.6739

In [35]:
# Print the accuracy for both department and attrition

print(f"Department predictions accuracy: {results[3]}")
print(f"Attrition predictions accuracy: {results[4]}")

Department predictions accuracy: 0.375
Attrition predictions accuracy: 0.6739130616188049

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.The data seems to be relatively imbalanced; perhaps something like F1 score or balanced accuracy would be better.
2.The sigmoid activation function works for both attrition and department, though it is conceivable that a new department be added later. In that case, softmax may be a better choice for department.
3.Including more columns in X is the primary key, but adding more layers, finding more training data, and experimenting with activation functions are also possible answers.